<div id="codeastra">

  <br />
  <h2><%= link_to "Scrumer", "https://scrumer.herokuapp.com/", target: "_blank" %><span>CodeAstra</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("scrummer.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>This was one of our first learning projects in language - ruby on rails - with an objective to deploy a functional application on heroku. The idea originated from using an inappropriate software - Google Docs - to keep track of team's work.<br/><br/>Scrumer allows scrum-master to assign tasks to his team everyday and monitor their progress.<br/><br/>Team Duos - Rohit and Rajan<br/><br/>Related Links: <a href="https://scrumer.herokuapp.com/">Demo</a></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Swachh", "https://swachbharat.herokuapp.com/", target: "_blank" %><span>CodeAstra</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("swachh.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>A team of five passionate students at <a href="http://www.codeastra.com/">CodeAstra</a> set together to build a platform where citizens can participate in Swach Bharat campaign and challenge their friends to be a part of the same.<br/><br/>Swach is intended to provide an opportunity to one and all to do their bit and contribute to a greater cause of Swach Bharat.<br/><br/>Team Five Stars - Anvesh, Bhavya, Kavya, Chirag and Rajan<br/><br/>Related Links: <a href="https://swachbharat.herokuapp.com/">Demo</a></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Flames Game", "https://rajanjamu-flames.herokuapp.com/", target: "_blank" %><span>CodeAstra</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("flames.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>This is a fun game that each one of us played at some point in time in our life. In this application, you can give your name and one another person with whom you wish to know what Mr. Computer thinks about your relation.<br/><br/>Click on the link above and recollect your childhood memories.<br/><br/>Related Links: <a href="https://rajanjamu-flames.herokuapp.com/">Demo</a></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Portfolio Website", "", target: "_blank" %><span>CodeAstra</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>

</div>
