<h2><%= link_to "Scrumer", "https://scrumer.herokuapp.com/", target: "_blank" %></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("scrummer.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>This was one of our first learning projects in language - ruby on rails - with an objective to deploy a functional application on heroku. The idea originated from using an inappropriate software - Google Docs - to keep track of team's work.<br/><br/>Scrumer allows scrum-master to assign tasks to his team everyday and monitor the progress.<br/><br/>Team Duos - Rohit and Rajan</p>
      </div>
    </div>
  </div>
  <br />
  <h2><%= link_to "Swachh", "https://swachbharat.herokuapp.com/", target: "_blank" %></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("swachh.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>A team of five passionate students at CodeAstra set together to build a platform where citizens can participate in Swach Bharat campaign and challenge their friends to be a part of the same.<br/><br/>Swach is intended to provide an opportunity to one and all to do their bit and contribute to a greater cause of Swach Bharat.<br/><br/>Team Five Stars - Anvesh, Bhavya, Kavya, Chirag and Rajan</p>
      </div>
    </div>
  </div>
  <br />
  <h2><%= link_to "Portfolio Website", "", target: "_blank" %></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at Code Astra after series of iterations and practice</p>
      </div>
    </div>
  </div>