<div id="embrace">

  <br />
  <h2><%= link_to "Engineering Support to Production", "#" %><span><a href="http://www.embraceinnovations.com/">Embrace Innovations</a></span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("assembly.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>Responsible for handling issues related to electronics in the product or machinery during manufacturing or as part of field complaint, involved in root cause analysis of the problem, provide and validate solutions and take appropriate preventive as well as corrective action</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Product Improvements", "#" %><span><a href="http://www.embraceinnovations.com/">Embrace Innovations</a></span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("improvement.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>Myself as engineering resource along with marketing team were involved in design modifications for one of the products as per the feedback from customers – issues related to washing, drying, velcro, electronics and claimed duration of warmth</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "User Interface", "#" %><span><a href="http://www.embraceinnovations.com/">Embrace Innovations</a></span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("interface.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>As part of simplifying user interface for one of the products, involved in redesigning the interface, electronics, hardware and software, engineering verification and field validation</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Project Lemon", "#" %><span><a href="http://www.embraceinnovations.com/">Embrace Innovations</a></span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("lemon.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>As part data collection for clinical studies, involved in making a device to log data in the field, be able to transmit data to mobile and henceforth to the cloud, which can then be available to experts and analyzed further, thereby minimizing logistic efforts and human errors</p>
      </div>
    </div>
  </div>

  <br />
  <h2><%= link_to "New Product Development", "#" %><span><a href="http://www.embraceinnovations.com/">Embrace Innovations</a></span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("design.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>Part of three member team, building pipeline for future products for company. Involved in varied activities - design thinking, secondary and primary research, user research, insights and POV generation, prototyping, clinical and regulatory studies and forming business plan</p>
      </div>
    </div>
  </div>
  
  <br/>
  <br/>

</div>