<div id="embrace">

  <br />
  <h2><%= link_to "Assembly Efficiency", "", target: "_blank" %><span>Embrace Innovations</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Product Improvements", "", target: "_blank" %><span>Embrace Innovations</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "User Interface", "", target: "_blank" %><span>Embrace Innovations</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Project Lemon", "", target: "_blank" %><span>Embrace Innovations</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

</div>