<div id="iitm">

  <br />
  <h2><%= link_to "Techmet", "", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.<br/><br/><a href="http://www.rediff.com/getahead/report/a-mobike-helmet-that-sends-sos-alerts/20091006.htm">Rediff</a> | <a href="http://www.deccanherald.com/content/28067/iit-prodigies-give-birth-techmet.html">Deccan Herald</a> | <a href="http://mobiletoi.timesofindia.com/mobile.aspx?article=yes&pageid=4&sectid=edid=&edlabel=TOICH&mydateHid=30-09-2009&pubname=Times+of+India+-+Chennai&edname=&articleid=Ar00404&publabel=TOI">Times of India</a></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Robocon 2009", "", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Robocon 2008", "", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Centre For Innovation", "", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Shaastra", "", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

</div>