<div id="iitm">

  <br />
  <h2><%= link_to "Techmet", "", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("helmet.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>Techmet is a safety helmet, which in case of serious accident, will instantly send the location coordinates through SMS to national police service and ambulance.<br/><br/>Patent Application Number - 69/CHE/2011<br/>Title: ‘A Novel E-Headgear to prevent and warn against drunken driving in two wheelers’<br/><br/>Team Duos: Mohit Mittal and Rajan<br/><br/><a href="http://www.rediff.com/getahead/report/a-mobike-helmet-that-sends-sos-alerts/20091006.htm">Rediff</a> | <a href="http://www.deccanherald.com/content/28067/iit-prodigies-give-birth-techmet.html">Deccan Herald</a> | <a href="http://mobiletoi.timesofindia.com/mobile.aspx?article=yes&pageid=4&sectid=edid=&edlabel=TOICH&mydateHid=30-09-2009&pubname=Times+of+India+-+Chennai&edname=&articleid=Ar00404&publabel=TOI">Times of India</a></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Robocon", "", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("robocon.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>Robocon is an international autonomous robotics competition for Asia-Pacific Region. Among 58 participating colleges across India, IIT Madras was declared as National Champion and was awarded with ‘Best Design Award’ for one of its robot in 2009. We represented India at an international level held at Tokyo, Japan, along with 21 other participating countries.<br/><br/><a href="https://www.youtube.com/watch?v=GYC5KA87D9M">ABU Robocon 2009 Problem Statement</a><br/><br/></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Want to fly", "https://www.facebook.com/cfiiitm", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("wanttofly.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>This was one of the spirit of engineering projects in IIT Madras. First time ever in IIT Madras, we built an automated Unmanned Aerial Vehicle (wingspan – 2.6 meters and weight – 10Kgs) designed to go through pre-defined coordinates given by GPS technology.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Centre For Innovation", "http://cfi-iitm.org/main/", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("cfi.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>We were fortunate to have a very active robotics club of IIT Madras, iBot. It was a part of a bigger organization commonly called as Centre for Innovation (CFI).</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Shaastra", "http://shaastra.org/", target: "_blank" %><span>IIT Madras</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("shaastra.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p><a href="http://shaastra.org/" target="_blank">Shaastra</a> is a student organized and ISO certified annual technical festival of IIT Madras. We, three of us, were heading a team of 199 coordinators and 202 volunteers with over 67 diverse events catering to the interests of almost all students with various backgrounds across the country</p>
      </div>
    </div>
  </div>

</div>