<div id="jobless">

  <br />
  <h2><%= link_to "Calculator", "http://artool.in/calculator/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("calculator.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>I got up one fine day and had nothing to do. I was longing to dive into web development but never got started, thinking about its vast scope. This day, I took the baby step and decided to develop a hello world web application. And here it is.<br/><br/>As you can imagine, it can act as your pet for basic calculations. Don't blame me for any bugs.<br/><br/><a href="http://artool.in/calculator/" target="_blank">Demo</a></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "RG Photography", "https://rgphotography.herokuapp.com/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("photography.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>Photography is one of my hobbies where I like to spend time alone. It is nice to see the world from a different perspective - Mountains, rivers, birds, animals, open grasslands. <br/><br/>Capture moments in the present,<br/>cherish memories in the future!<br/><br/><a href="https://rgphotography.herokuapp.com/" target="_blank">Demo</a> | <a href="https://github.com/rajanjamu/photography" target="_blank">Source Code</a></p>
      </div>
    </div>
  </div>

  <br />
  <h2><%= link_to "Artool", "http://artool.in/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("artool.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>I was quite fascinated with artists. I liked their way of thinking, abstractness and attitude. Thats when I decided to take up some of non-geeky hobbies like photography, cycling and travelling. I started blogging about my thoughts. You may not find much here.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Share", "http://artool.in/share/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("share.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>There was a thought - How beautiful would it be if there was somebody who is all ears for your sorrows, anytime you want?<br/><br/>This application lets you anonymously share your feelings or emotions with a hope that there is somebody on the other side listening to you.<br/><br/><a href="http://artool.in/share/" target="_blank">Demo</a></p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Weather Monitoring", "http://artool.in/weather/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("weather.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>With an interest in home automation, I built this application. As a first step, I wanted to monitor as many parameters as possible for me.<br/><br/>This app shows temperature of my house in real time, updates every few seconds. It may not work as this is being updated to include other parameters.<br/><br/><a href="http://artool.in/weather/" target="_blank">Demo</a></p>
      </div>
    </div>
  </div>

</div>