<div id="jobless">

  <br />
  <h2><%= link_to "Calculator", "http://artool.in/calculator/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("calculator.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "RG Photography", "https://rgphotography.herokuapp.com/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("photography.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Share", "http://artool.in/share/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

  <h2><%= link_to "Weather Monitoring", "http://artool.in/weather/", target: "_blank" %><span>Joblessness</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("portfolio.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>The website that you see here was built from scratch at <a href="http://www.codeastra.com/">CodeAstra</a> after series of iterations and practice.</p>
      </div>
    </div>
  </div>

</div>