<%= provide(:title, 'About') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image-about">
        <%= image_tag("rajan.png", class: "image-about") %>
      </div>
      <div class="col-sm-5">
        <%= link_to icon('facebook-square', '', id: 'fb-icon', class: 'icon'), "https://www.facebook.com/rajanjamuindia", target: "_blank" %>
        <%= link_to icon('linkedin-square', '', id: 'in-icon', class: 'icon'), "https://www.linkedin.com/profile/view?id=212187908&trk=nav_responsive_tab_profile", target: "_blank" %>
        <%= link_to icon('github-square', '', id: 'git-icon', class: 'icon'), "https://github.com/rajanjamu", target: "_blank" %>
        <%= link_to icon('google-plus-square', '', id: 'gplus-icon', class: 'icon'), "https://plus.google.com/103989021022793667493/posts", target: "_blank" %>
        <%= link_to icon('twitter-square', '', id: 'twi-icon', class: 'icon'), "https://twitter.com/rajanjamu1", target: "_blank" %>
        <%= link_to content_tag(:span, "", id: "mail-icon", class: "glyphicon glyphicon-envelope icon"), "mailto:rajanjamu@gmail.com" %>
        <h2>About</h2>
        <hr>
        <p>I am Rajan Gupta. </p>
      </div>
    </div>
  </div>
</section>