<%= provide(:title, 'Gallery') %>

<h2>People</h2><hr>
<%= image_tag "rohit.png", class: "gallery" %>
<%= image_tag "anvesh.png", class: "gallery" %>
<%= image_tag "chirag.png", class: "gallery" %>
<%= image_tag "bhavya.png", class: "gallery" %>
<%= image_tag "jyothi.png", class: "gallery" %>
<%= image_tag "radhika.png", class: "gallery" %>
<%= image_tag "poorani.png", class: "gallery" %>
<%= image_tag "ravikanth.png", class: "gallery" %>
<%= image_tag "sriKavya.png", class: "gallery" %>
<%= image_tag "srikant.png", class: "gallery" %>
<%= image_tag "varun.png", class: "gallery" %>
<%= image_tag "vimalan.png", class: "gallery" %>
<%= image_tag "pramod.png", class: "gallery" %>
<%= image_tag "rajan.png", class: "gallery" %>
<%= image_tag "satyaram.png", class: "gallery" %>

<h2>Teams</h2><hr>
