<%= provide(:title, "Projects") %>
<section id="index_static_pages">
  <%= render 'static_pages/codeastra' %>
  <%= render 'static_pages/ignite' %>
  <%= render 'static_pages/embrace' %>
  <%= render 'static_pages/iitm' %>
  <%= render 'static_pages/jobless' %>
</section>